<h1>#<%= @paramHashtag %></h1>

<% @hashtags.each do |hashtag| %>

	<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= hashtag.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted pull-right"><%= hashtag.updated_at.strftime('%F %T') %></h6>
          <blockquote class="blockquote">
          <p><%= hashtag.body %></p>
          <hr>
           <% if user_signed_in? %>
           <a href="/user/profile/<%= hashtag.user %>"> <%= hashtag.user %></a>
      <% else %>
            <%= hashtag.user %>
      <% end %>
          	
</blockquote>
  </div>
</div>
<hr>

<% end %>


