<% if current_user %>
<h1>Welcom <%= current_user.name %></h1>

        


<div class="card mb-3">
<div class="pull-right"><%= image_tag(current_user.avatar.url(:medium)) %>
	
</div>


  <div class="card-block">
    <p class="card-text"><%= current_user.email %></p>
    <p class="card-text"><small class="text-muted">Crée le <%= current_user.updated_at.strftime("%d- %m - %Y") %></small></p>
  </div>
</div>	

<% else %>

<p class="text-center">
  <%= link_to('Connecté vous !', new_user_session_path)  %>  
</p>

<% end %>