<h1>Posts</h1>


<% @posts.each do |post| %>

<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= post.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= post.updated_at.strftime('%F %T') %> - <%= post.user %> </h6>
    <p class="card-text"><%= post.body %></p>
    <a href="/hashtags_list/<%= post.hashtag %>" class="card-link">#<%= post.hashtag %></a>
  </div>
</div>
<hr>
<% end %>





